@font-face {
  font-family: 'RobotoRegular';
  src: url('../fonts/Roboto-Regular-webfont.eot');
  src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
    url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
    url('../fonts/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
  
html { height:100%; }
body { 
  overflow:hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-family:"RobotoRegular", "Arial", sans-serif;
  background-color:#4b4b4b;
  color:white;
  height:100%;
  margin:0 0 0 0;
  padding:32px 0 0 0;
}

h1, h2 { text-shadow:0px 1px 0px white; }

#header { height:32px; width:100%; position:absolute; top:0; z-index:150; }
#logo { background:url(../images/logo.png) no-repeat; height:100%; }

#description > table, #description .close-button, #header {background:rgba(75,75,75,0.88);} 
#sidebar { z-index:100; position:absolute; left:0; width:235px; height:100%; }
#old-sidebar { display:none; }
#canvasLoader { position:relative; top: 10px; left: 10px; }

.rotate {
  display:inline-block;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
/**** MAP ****/
.leaflet-popup-content { color:#4b4b4b; }
#mapbox { height:100%; width:100%;}

.left-drawer { position:absolute; right:100%; height:100%; width:100% }
.left-drawer h3 { position:absolute; left:100%; cursor:pointer; height:40px; width:40px; font-size:20px; /*padding:10px 40px;*/ margin:0; }
.left-drawer h3.filter { background:#1091db url(../images/filter.png) no-repeat 5px center; }
.left-drawer h3.timeline { top:40px; background:#1c9427 url(../images/timeline.png) no-repeat 5px center; }

#filter-form { text-align:center; padding-top:10px; }
.filter-button { cursor:pointer; height:48px; width:48px; border-radius:5px; background:#616161; border:solid #CCC 2px; }
#filter-parks { background:#616161 url(../images/form/parks.png) center no-repeat; }
#filter-parks.selected { border-color:#0fa61d; }
#filter-restaurants { background:#616161 url(../images/form/restaurants.png) center no-repeat; }
#filter-restaurants.selected { border-color:#0fa61d; }
#filter-bars { background:#616161 url(../images/form/bars.png) center no-repeat; }
#filter-bars.selected { border-color:#0fa61d; }
#filter-cinemas { background:#616161 url(../images/form/cinemas.png) center no-repeat; }
#filter-cinemas.selected { border-color:#0fa61d; }

.drawer-content { height:100%; overflow:auto; }
#timeline-content { position:relative; margin:5px; }
#timeline-content ul { list-style-type:none; padding:0 0 0 5px; }
#timeline-hours-list {border-left:transparent solid 3px; }
#timeline-hours-list .hour-marker { position:relative; text-align:right; border-top:solid 1px gray; height:4em;}
#timeline-hours-list .hour-marker .activity { position:absolute; top:0; text-align:left; height:98%; width:88%; background-color:rgba(28, 148, 39, 0.5); border:solid rgba(28, 148, 39, 1) 2px; border-radius:10px; }
#timeline-hours-list .hour-marker .activity span.delete { display:none; cursor:pointer; position:absolute; top:0; right:5px; }
#timeline-hours-list .hour-marker .activity:hover span.delete { display:inline; }
#timeline-hours-list.editing .hour-marker:hover { cursor:pointer; background-color:green; }
#timeline-activities-list { position:absolute; top:0; margin-top:0 }


/**** DESCRIPTION PANEL ****/
#description { display:none; overflow:hidden; position:relative; height:250px; top:-250px; z-index:50; margin-left:236px; width:calc(100% - 236px); }
#description h3 { margin-top:0; }
#description > table { width:100%; height:100%; }
#description table tr { vertical-align:top; }
#description table h2 { margin-top:5px; }
#description .close-container { position:relative; height:30px; overflow:hidden;}
#description .close-button { position:absolute; right:0; font-size:30px; cursor:pointer; border-radius:25px 0 0 0; padding:0 10px 0 10px }
#description .close-button:before { content:"⨯" }
#description-first-col { width:30%; border-right:solid gray 2px; }

#poi-tan-stops { background:url(../images/tram.png) no-repeat; padding-left:45px; min-height:63px; }
#poi-tan-stops p { margin:0; }
